.writer h3 {
  font-size: smaller;
}

.writer h5 {
  font-size: smaller;
}

.writer img {
    max-width: 200px;
    border-radius: 50%;
}

.writer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* .writer p {
  background-color: black;
} */
