.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.table table tbody tr {
  border-bottom: 1px solid;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 8px 16px;
  text-align: left;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}

.entry-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.entry {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  text-align: center;
}

.entry img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.entry .text-content {
  padding: 10px;
}

.entry h3 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.entry p {
  font-size: 1em;
  margin: 0;
}

.entry a {
  text-decoration: none;
  color: inherit;
}

.entry a:hover {
  text-decoration: underline;
}
